{extend name="index/doing" /}
{block name="title"}博客--首页{/block}
{block name="css"}
	<style type="text/css">
		.col-xs-4 p{
			background-color: #fff;
		    color: #666;
	        padding: 15px;
	        width: 279px
		}
		.img{
		    width: 279px;
		    height: 240px;
		    border: 5px solid #fff;
		}
		.col-xs-4:hover{
			margin-top:-5px; 
		}
		.col-xs-4 a{
			color: #226039;
			font-size: 16px;
		}
		.col-xs-4 a:hover{
			cursor: pointer;
			text-decoration: none;
		}
	</style>
{/block}
{block name="main"}
	<div class="row">
		<div class="col-xs-4">
			<img src="__IMG__/t01.jpg" alt="..." class="img">
			<p class="text-center"> 
				<a>灯具公司复古风格PSD设计稿</a><br>
				此模板为PSD设计稿，复古风格。首页主要突出产品，以及公司简介。手绘灯作为头部背景图片，这个比较特别。html可以做出灯一闪一闪的效果，或者说旁边有个按钮...
			</p>
		</div>
		<div class="col-xs-4">
			<img src="__IMG__/t02.jpg" alt="..." class="img">
			<p class="text-center">
				<a>灯具公司复古风格PSD设计稿</a><br>
				一共是四个页面，首页，图文列表，图片列表，文字内容。此模板风格为中国古典风格，山水画墨迹成就一幅江南墨卷。页面首页设计较为简单，突出文章重点。图文列表显示...
			</p>
			</div>
		<div class="col-xs-4">
			<img src="__IMG__/t03.jpg" alt="..." class="img">
			<p class="text-center">
				<a>灯具公司复古风格PSD设计稿</a><br>
				让世界拥有它的脚步，让我保有我的茧。当溃烂已极的心灵再不想做一丝一毫的思索时，就让我静静回到我的茧内，以回忆为睡榻，以悲哀为覆被，这是我唯一的美丽
			</p>
		</div> 
	</div> 
{/block}
